body {
  background-color: rgb(136, 239, 136);


}

#title {
  color: rgb(127, 75, 0);
}

.input {
  width: 70%;
  height: 30px;
  font-size: medium;
  margin-bottom: 8px
}

.incomplete {
  color: red;
}

.tales .column {
  color: rgb(127, 75, 0);
  border: 1px solid black;
}

.tales .author {
  font-size: 20px;
  font-weight: bold;
}